<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Noticias"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Label class="page__content-icon fas" text="&#xf1ea;"></Label>
    <!--PullToRefresh (refresh)="refreshList($event)" indicatorFillColor="#fff000" indicatorColor="#3489db" -->
        <Listview class="list-group" [items]="this.noticias.buscar()" (itemTap)="onItemTap($event)" style="height: 400px">
            <ng-template let-x="item">
                <FlexboxLayout flexDirection="row" class="list-group-item">
                    <Image class="img-rounded" src="res://icon" stretch="none"></Image>
                    <Label class="list-group-item-heading" vericalAlignment="center" [text]="x" style="width: 60%"></Label>
                </FlexboxLayout>
            </ng-template>
        </Listview>
    <!--/PullToRefresh-->
</StackLayout>
                