<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Detalles"></Label>
</ActionBar>

<StackLayout class="page__content">
    <Image class="img-rounded" src="res://icon" stretch="none"></Image>    
    <Label vericalAlignment="center" [text]="this.description"></Label>
    <GridLayout columns="auto, *, auto" rows="auto, 25" vericalAlignment="top" backgroundColor="lightgray">
        <Image class="img-rounded" src="res://icon" stretch="none"></Image>  
        <Label vericalAlignment="center" [text]="this.description" backgroundColor="red"
            textWrap="true" col="1" colspan="2" minHeight="50" fontSize="20" margin="3"></Label>
        <Label vericalAlignment="bottom" [text]="this.description" color="#10c2b0" backgroundColor="#0f0" 
            textWrap="true" col="1" row="1" horizontalAlignment="left" fontSize="14" margin="3"></Label>
        <GridLayout columns="auto, *, auto" rows="auto, 25" backgroundColor="#0f0" col="2" row="1" horizontalAlignment="left" vericalAlignment="bottom" >
            <Label class="far fa-thumbs-up" text="&#xf164;" col="1" row="1" fontSize="20"></Label>
            <Label class="far" text="&#xf165;" col="2" row="1" fontSize="20"></Label>
        </GridLayout>                      
    </GridLayout>
</StackLayout>
